*{
    background-color: black;
}


header{
    padding: 12px 20px;
    display: flex;

    
}
.fa-bars{
    color: white;
    font-size: 25px;
}
.logo{
    max-width: 211px;
    height: 88px;
    margin-left: 7%;
    
}
.rightnavlogin{
    
    display: flex;
    margin-left: 65%;
    
}
a {
    color: white;
    user-select: none;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Neue-Helvetica, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
    font-stretch: semi-condensed;
    margin-right: 20px;
}


.headimage{
    margin: auto;
}
.headimage img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 51.758%;
    height: auto;
    margin-top: 3.719%;
    margin-left: 23.926%;
}
.headimage img+img{

    width: 24.508%;
    height: auto;
    margin-top: 2.051%;
    margin-left: 39.746%;
}

.modelimage img{

    width: 65%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}


.modeltag{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 21%;
    margin-top: 1.8%;
}

.buttomheading{
    width: 70%;
    height: auto;
    margin-top: 8%;
    margin-bottom: 200px;
}